# macOS system files
.DS_Store

# IDE files
.idea
.settings/
*.project

# Build system files
.gradle
build/
bin/
local.properties
.gradletasknamecache
gradle-app.setting

# Compiled classes and artifacts
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Log files
*.log

# Special rules
!gradle-wrapper.jar
!cls/*.class

# Java VM crash logs
hs_err_pid*
replay_pid*

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/
